.footer {
  background-color: var(--second-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-around;
    }

    @media screen and (min-width: 1200px) {
      justify-content: flex-start;
    }
  }
}

.footer__wrap {
  display: flex;
  flex-direction: column;
  align-items: baseline;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    flex-grow: 1;
  }
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    align-items: flex-start;
    margin-bottom: 0;
    margin-right: auto;
  }
}

.footer__logo {
  color: var(--second-text-color);
}

.contacts__address {
  font-style: normal;
  margin-top: 20px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.address__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 8px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 8px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.address__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-address-color);
  transition: color var(--duration) var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__socials {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    margin-right: auto;
  }
}

.footer__title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.footer__soc-item:not(:first-child) {
  margin-left: 10px;
}

.form {
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}

.form__field {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.footer__input {
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
  padding: 10px 10px;
  color: var(--second-text-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.footer__btn {
  display: flex;
  align-items: center;
  padding: 10px 28px 10px 29px;
}

.btn__icon {
  margin-left: 10px;
}
