:root {
  --main-text-color: #212121;
  --main-background-color: #ffffff;
  --second-background-color: #2f303a;
  --background-cards-color: #f5f4fa;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --text-color: #757575;
  --second-text-color: #ffffff;
  --accent-color: #2196f3;
  --portfolio-bgc-btn: #f5f4fa;
  --icons-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}
